body {
  font-family: Arial;
  margin: 20px;
}

h2 {
  text-align: center;
}

.box {
  max-width: 380px;
  margin: 0 auto 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

input,
select,
button {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 13px;
}

#timeLine {
  font-size: 12px;
  color: #666;
}